 {{!--Search form--}}

<div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
            </div>
        </div>
</div>

{{!--Jumbotron with offers--}}

<div class="row">
    {{#each this}}
    <div class="col-sm-3">
        <h3>{{this.title}}</h3>
        <img class="img-responsive img-rounded" src="{{this.imageUrl}}" style="width:100%; height: auto"/>
        <p class="text-justify">{{this.description}}</p>
        <p><a class="btn btn-info" href="#/sells/{{this._id}}" id="view-ad-details" role="button">View details &raquo;</a></p>
    </div>
    {{/each}}
</div>

