<div class="row">
    <div class="col-md-8">
      <h2>Find Us Here</h2>
      
      <div style="width: 100%">
          <iframe width="100%" height="400" src="https://www.maps.ie/create-google-map/map.php?width=100%&amp;height=400&amp;hl=en&amp;q=Telerik%20Academy%2C%20Sofia+(Team%20Elderberry)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
          <a href="https://www.mapsdirections.info/fr/mesurer-distance-surface-google-maps.html"></a>
          </iframe>
      </div>
      
    </div>
    <div class="col-md-4">
      <h2>Something Else here</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque quam massa, at posuere felis feugiat eu. Mauris maximus dui sit amet faucibus luctus. Phasellus non mi suscipit nunc dignissim tincidunt eu quis sapien. Integer bibendum ante vel diam varius, vel posuere nisl imperdiet. Nulla sed condimentum arcu, a lacinia ligula. Etiam ac arcu scelerisque, posuere neque gravida, fringilla enim. Etiam vitae lectus varius, rutrum leo sit amet, luctus nisi. Pellentesque velit leo, accumsan at urna vitae, porta efficitur lacus. Vestibulum et mi hendrerit, molestie diam sed, posuere eros. Praesent urna tellus, luctus quis iaculis mollis, tempor varius felis. Fusce ultrices dolor sit amet odio tristique, sit amet congue felis elementum.
      </p>
    </div>
</div>
    