<div class="row">
<div class="col-sm-12" id="accordion">
      <h3>First header</h3>
  <div>First content panel</div>
  <h3>Second header</h3>
  <div>Second content panel</div>
</div>
    <script>
        System.import('accordion');
    </script>
</div>