<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bid-Click-Buy</title>

    {{!--Add favicon--}}
    <link rel="icon" href="/public/images/favicon-16x16.png" type="image/gif" sizes="16x16"> {{!--Bootstrap--}}
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"> {{!--Custom css--}}
    <link rel="stylesheet" href="/public/styles/main.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"></link>

    {{!--SystemJs--}}
    <script src="libs/systemjs/dist/system.js"></script>
    <script src="/public/js/systemjs-config.js"></script>

    {{!--Navigo--}}
    <script src="libs/navigo/lib/navigo.js"></script>

    {{!--Handlebars--}}
    <script src="libs/handlebars/dist/handlebars.js"></script>

    {{!--Custom js--}}
    <script>
        System.import('main');
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="padding-left: 50px; padding-top: 20px">
                    <label>Bid<span>Click</span>Buy</label>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="font collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#/sell">Sell</a>
                    </li>
                    <li>
                        <a href="#/buy">Buy</a>
                    </li>
                    <li id="login-clicked">
                        <a href="#/login">Login</a>
                    </li>
                    <li id="register-clicked">
                        <a href="#/register">Register</a>
                    </li>
                    <li id="logout-clicked">
                        <a href="#/logout">Logout</a>
                    </li>
                    <li id="profile-clicked">
                        <a href="#/profile">My Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">

        {{!--<div class="row">
            <div class="col-sm-12">
                <p id="login-clicked" class="pull-left"><a class="btn btn-default btn-md color-white" href="#/login">Login</a></p>
                <p id="register-clicked" class="pull-left"><a class="btn btn-default btn-md color-white" href="#/register">Register</a></p>
                <p id="profile-clicked" class="pull-right"><a class="btn btn-default btn-md color-white" href="#/profile">My Profile</a></p>
                <p id="logout-clicked" class="pull-right"><a class="btn btn-default btn-md color-white" href="#/logout">Logout</a></p>
            </div>
        </div>--}}

        <!-- Heading Row -->
        <div id="dinamic-container">

        </div>
        <!-- Footer -->
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <ul>
                            <li><a href="#/about" type="button" class="btn btn-default">About Us</a></li>
                            <li><a href="#/FAQ" type="button" class="btn btn-default">FAQ</a></li>
                            <li><a href="#/contact" type="button" class="btn btn-default">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row footer-copyright">
                        <p>© Team Elderberry 2017 </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>